/* General Style */

/**, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

body, html {
    height: 100%;
}

body {
    background-image: url("https://source.unsplash.com/collection/523015/daily");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    font-family: Roboto, sans-serif;
}

.loginuser {
  width: 600px;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  top: 45%;
}

.form-control {
  background-color: transparent;
  border-width: 0 0 5px 0;
  font-size: 50px;
  padding: 0;
  height: 100px;
  outline: none;
  color: #eff3f4;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-control:focus {
  outline: none;
}

.formtext {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 75px;
  text-shadow: -1px 0 rgba(107, 107, 107, 1), 
    0 1px rgba(107, 107, 107, 1), 
    1px 0 rgba(107, 107, 107, 1), 
    0 -1px rgba(107, 107, 107, 1);
}

.stayoutbtn {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  color:white;
  margin-left: 10px;
}

.stayoutbtn:hover {
  background-color: rgba(171, 171, 171, 0.69);
  color:none;
}

.textofout{
  float:left;
  font-size: 20px;
}

.stayout {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

/* Sections style */

/* Each section tag will be positioned fixed */
section {
    position: fixed;
    color: rgba(242, 242, 242, 1);
    text-shadow: -0.5px 0 rgba(107, 107, 107, 1), 
    0 0.5px rgba(107, 107, 107, 1), 
    0.5px 0 rgba(107, 107, 107, 1), 
    0 -0.5px rgba(107, 107, 107, 1);
}

/* General positioning */
.top {
    top: 15px;
}

.middle {
    top: 50%;
    transform: translateY(-50%);
}

.third-from-top {
    top: 66%;
}

.bottom {
    bottom: 15px;
}

.left {
    left: 15px;
}

.center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    right: 15px;
}

.middle.center {
    transform: translate(-50%, -50%);
}

/* Middle section style */

#time {
    font-size: 160px;
    line-height: 120px;
}

#greeting {
    font-size: 60px;
}

/* Third from top section style */

h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
}

/*rotates the button without js animation*/

.rotate {
    transform: rotate(180deg);
    /*transform: rotate(180deg);*/
    transition: .5s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .5s;
}

/* Quote style */
#quote {
    color: #ddd;
    font-style: italic;
}
.focus {
  font-size: 30px;
  font-family: Arial;
}

#popupmenu {
  width: 690px;
  height: 460px;
  background-color: rgba(15, 15, 15, 0.8);
  color: rgba(230, 230, 230, 1);
  font-size: 15px;
  position: fixed;
  left: -690px;
  top:  45%;
  padding: 35px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}